*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 10fr;
    width: 100vw;
    height: 100vh;
}

#header{
    grid-column: 1/3;
    grid-row: 0/1;
    background-color: darkolivegreen;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    color: white;
}

#header img{
    height: 32px;
    cursor: pointer;
}

#sidebar{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f0eded;
}

#sidebar div{
    padding: 8px 0px 8px 10px;
    margin: 7px 0px 7px 10px;
    display: flex;
    justify-content: flex-start;
}

#sidebar div:hover{
    background-color: grey;
    cursor: pointer;
}

#sidebar h3{
    padding: 15px 0px 0px 20px;
}

#sidebar div img{
    height: 16px;
    padding-right: 16px;
}

